# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# No IntelliJ project settings
.idea/

# Project binary
yummy
!server/*.go
cmd/server/server

# Vendoring with dep
# Ignore the vendored packages
vendor/

# Ignore testfiles
test/

# Ignore VSCode project settings
.vscode
